@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
	font-family: 'Poppins';
}

.form{
    border: 1px solid gray;
    padding:5px;
    width: min-content;
}

.text{
    margin: 5px;
    width: 100px;
}

.btn{
    background-color: steelblue;
    border: 1px solid lightgrey;
    border-radius: 10px;
    color: white;
}
